/* Base styling for form */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#players{
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 15px;
    }

    input[type="submit"] {
        padding: 12px;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"] {
        padding: 8px;
    }
    #players{
        margin-bottom: 5%;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 18px;
    }

    input[type="submit"] {
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"] {
        padding: 6px;
    }
    #players{
        margin-bottom: 5%;
    }
}
